* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.title__sub {
  font-weight: 400;
  letter-spacing: 1.5rem;
  font-size: 2rem;
}

.title__main {
  font-weight: 700;
  letter-spacing: 2.5rem;
  padding: 2rem;
  font-size: 6rem;
  overflow: hidden;
  border-right: 0.5rem solid #fff;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.title__sub2 {
  font-weight: 400;
  letter-spacing: 0.5rem;
  font-size: 1.8rem;
}

.card1 {
  border-radius: 2.5rem;
  padding: 2rem 3.5rem;
}

.card1:hover {
  background-color: rgba(22, 22, 41, 0.767);
}

.title__sub4 {
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 3rem 2.5rem;
}

.sub--txt3 {
  font-weight: 400;
  color: lightgray;
  font-size: 1.8rem;
}

.lnk {
  text-decoration: none;
  color: #28a49c;
  display: block;
  padding-top: 2.5rem;
  font-size: 1.8rem;
}

.cpright {
  background-color: #2a3140;
  text-align: center;
  padding: 1rem;
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
}

.navbar__item {
  color: lightgray;
  text-decoration: none;
  padding: 1rem;
  margin: 2rem;
  font-size: 2.3rem;
  text-transform: uppercase;
  transition: all 0.2s;
}
.navbar__item:hover {
  transform: scale(1.1);
  color: #fff;
}
.navbar__item:active {
  transform: scale(1);
}

.heading-primary {
  font-weight: 400;
  letter-spacing: 0.5rem;
  color: #fff;
  font-size: 4rem;
}

.container__item {
  color: #fff;
  font-size: 4rem;
}

.main--txt {
  font-weight: 400;
  letter-spacing: 0.5rem;
  color: lightgray;
  font-size: 3rem;
  text-transform: uppercase;
}

.sub--txt {
  font-weight: 400;
  /* letter-spacing: 0.5rem; */
  color: lightgray;
  font-size: 1.8rem;
}

.item--5 {
  align-self: center;
  padding: 2rem;
}

.image {
  width: 40rem;
}

.nasa--api {
  text-decoration: none;
  background-color: #28a49c;
  /*#28a49c*/
  color: #fff;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 1.8rem;
}

.icon--1 {
  height: 2.25rem;
  color: #fff;
  width: 2.25rem;
}

.titlecard {
  background-color: #28a49c;
  margin-left: auto;
  margin-right: auto;
  height: 30rem;
  width: 80%;
}

.contentcard {
  background-color: #fff;
  margin-top: -12rem;
  margin-left: 15%;
  margin-right: auto;
  height: fit-content;
  width: 80%;
}

.news {
  padding: 10rem 10rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.5rem;
}

.title__sub3 {
  font-weight: 400;
  letter-spacing: 0.5rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding-top: 3rem;
  padding-left: 8rem;
  text-align: start;
  color: #fff;
}

.hdimage {
  width: 80%;
  padding-bottom: 10rem;
}

.title__sub5 {
  font-weight: 400;
  font-size: 1.8rem;
  padding-bottom: 2rem;
}

.header {
  height: 100vh;
  background-image: url(../img/bg-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 65vh;
  text-transform: uppercase;
  color: #fff;
}

.main {
  background-image: url(../img/bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 8rem;
}

.container {
  width: 80%;
  margin: 3rem auto;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  grid-gap: 30px;
}

.footer {
  background-color: #2a3140;
}
.containerfooter {
  display: grid;
  justify-items: center;
  grid-gap: 2rem;
  margin: 3rem;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.newscard {
  padding-bottom: 8rem;
}

.newsheader {
  background: url(../img/news.jpg);
  background-repeat: no-repeat;
  height: 27rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
  width: 80%;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

/* Media queries */

@media only screen and (max-width: 62.5em) /*1000px = 62.5em*/ {
  .container {
    display: flex;
    flex-direction: column;
  }

  .title__sub {
    letter-spacing: 0.5rem;
  }
  .title__main {
    letter-spacing: 1rem;
  }
  .containerfooter {
    padding: 2rem 0.5rem;
  }
  .card1 {
    padding: 2rem 1.5rem;
  }
}

@media only screen and (max-width: 56.25em) /*900px = 56.25em*/ {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 43.75em) /*700px = 62.5em*/ {
  .containerfooter {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 37.5em) /*600px = 62.5em*/ {
  .title__sub {
    font-size: 1.5rem;
  }
  .title__main {
    font-size: 2.5rem;
  }
  .title__sub2 {
    font-size: 1.3rem;
  }
  .news {
    padding: 7rem 7rem;
  }
  .newsheader {
    width: 85%;
  }
  .titlecard {
    width: 85%;
    height: 35rem;
  }
}
@media only screen and (max-width: 25em) {
  .navbar__item {
    padding: 1rem;
    margin: 1rem;
  }
  .news {
    padding: 4rem 4rem;
  }
  .containerfooter {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    width: 70%;
    margin: auto;
  }
}

@media only screen and (max-width: 23.75em) /*380px = 23.75em*/ {
}
