* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

.header {
  height: 100vh;
  background-image: url(../img/bg-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 65vh;

  text-transform: uppercase;
  color: #fff;
}

.title__sub {
  font-weight: 400;
  letter-spacing: 1.5rem;
  font-size: 2rem;
}

.title__main {
  font-weight: 700;
  letter-spacing: 2.5rem;
  padding: 2rem;
  font-size: 6rem;
  overflow: hidden;
  border-right: 0.5rem solid #fff; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */

  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.title__sub2 {
  font-weight: 400;
  letter-spacing: 0.5rem;
  font-size: 1.8rem;
}

.main {
  background-image: url(../img/bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 8rem;
}

.heading-primary {
  font-weight: 400;
  letter-spacing: 0.5rem;
  color: #fff;
  font-size: 4rem;
}

.container {
  width: 70%;
  margin: 3rem auto;
  height: 100rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);

  align-items: center;
  /* // grid-row-gap: 30px; */
  /* // grid-column-gap: 30px; */
  grid-gap: 30px;
}

.item {
  color: #fff;
  font-size: 4rem;
}

.main--txt {
  font-weight: 400;
  letter-spacing: 0.5rem;
  color: lightgray;
  font-size: 3rem;
  text-transform: uppercase;
}

.sub--txt {
  font-weight: 400;
  /* letter-spacing: 0.5rem; */
  color: lightgray;

  font-size: 1.8rem;
}

.item--5 {
  align-self: center;
}

.image {
  width: 40rem;
}

.nasa--api {
  text-decoration: none;
  background-color: #28a49c; /*#28a49c*/
  color: #fff;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 1.8rem;
}

.icon--1 {
  height: 2.25rem;
  color: #fff;
  width: 2.25rem;
}

.newscard {
  padding-bottom: 8rem;
}

.newsheader {
  background: url(../img/news.jpg);
  background-repeat: no-repeat;
  height: 27rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
  width: 80%;
}

.titlecard {
  background-color: #28a49c;
  margin-left: auto;
  margin-right: auto;
  height: 30rem;
  width: 80%;
}

.contentcard {
  background-color: #fff;
  margin-top: -12rem;
  margin-left: 15%;
  margin-right: auto;
  height: 22rem;
  width: 80%;
  z-index: 10;
}

.contentcard {
  background-color: #fff;
  margin-top: -12rem;
  margin-left: 15%;
  margin-right: auto;
  height: fit-content;
  width: 80%;
}

.news {
  padding: 10rem 10rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.5rem;
}
.title__sub3 {
  font-weight: 400;
  letter-spacing: 0.5rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding-top: 3rem;
  padding-left: 8rem;
  text-align: start;
  color: #fff;
}

.hdimage {
  width: 80%;
  padding-bottom: 10rem;
}

.title__sub5 {
  font-weight: 400;
  font-size: 1.8rem;
  padding-bottom: 2rem;
}

.containerfooter {
  padding: 5rem 3.5rem;
  background-color: #2a3140;
  /* position: absolute; */
  display: flex;

  justify-content: space-around;
}

.card1 {
  width: 20%;
  height: 35rem;
  /* background-color: orangered; */
  border-radius: 2.5rem;
  padding: 2rem 3.5rem;
  text-align: start;
}

.card1:hover {
  background-color: rgba(22, 22, 41, 0.767);
}

.title__sub4 {
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 3rem 2.5rem;
}

.sub--txt3 {
  font-weight: 400;
  color: lightgray;
  font-size: 1.8rem;
}

.lnk {
  text-decoration: none;
  color: #28a49c;
  display: block;
  padding-top: 2.5rem;
  font-size: 1.8rem;
}
.cpright {
  background-color: #2a3140;

  text-align: center;
  padding: 1rem;
  color: #fff;

  font-weight: 400;
  font-size: 1.8rem;
}
