* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

.title__sub {
  font-weight: 400;
  letter-spacing: 1.5rem;
  font-size: 2rem;
}

.title__main {
  font-weight: 700;
  letter-spacing: 2.5rem;
  padding: 2rem;
  font-size: 6rem;
  overflow: hidden;
  border-right: 0.5rem solid #fff; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */

  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.title__sub2 {
  font-weight: 400;
  letter-spacing: 0.5rem;
  font-size: 1.8rem;
}

.card1 {
  width: 20%;
  height: 35rem;
  /* background-color: orangered; */
  border-radius: 2.5rem;
  padding: 2rem 3.5rem;
  text-align: start;
}

.card1:hover {
  background-color: rgba(22, 22, 41, 0.767);
}

.title__sub4 {
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 3rem 2.5rem;
}

.sub--txt3 {
  font-weight: 400;
  color: lightgray;
  font-size: 1.8rem;
}

.lnk {
  text-decoration: none;
  color: #28a49c;
  display: block;
  padding-top: 2.5rem;
  font-size: 1.8rem;
}
.cpright {
  background-color: #2a3140;

  text-align: center;
  padding: 1rem;
  color: #fff;

  font-weight: 400;
  font-size: 1.8rem;
}
